Cron corroborador HS - DB.json
{
  "name": "Cron corroborador HS - DB",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        { \"propertyName\": \"empresa_habilitada\", \"operator\": \"EQ\", \"value\": \"true\" },\n        { \"propertyName\": \"num_associated_contacts\", \"operator\": \"GT\", \"value\": \"0\" },\n        { \"propertyName\": \"createdate\", \"operator\": \"GTE\", \"value\": \"{{ Date.now() - (90 * 24 * 60 * 60 * 1000) }}\" }\n      ]\n    }\n  ],\n  \"properties\": [\"codigo\", \"name\", \"hubspot_owner_id\", \"num_associated_contacts\"],\n  \"limit\": 200,\n  \"sorts\": [\n    { \"propertyName\": \"createdate\", \"direction\": \"DESCENDING\" }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        3280
      ],
      "id": "36005018-00bd-40a0-a188-6697d18a628b",
      "name": "Buscar Agencias Habilitadas",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\n\nreturn results.map(r => ({\n  json: {\n    id: r.id,\n    properties: r.properties || {},\n    codigo: r.properties?.codigo || null,\n    name: r.properties?.name || null,\n    hubspot_owner_id: r.properties?.hubspot_owner_id || null,\n    num_associated_contacts: r.properties?.num_associated_contacts || 0\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        3280
      ],
      "id": "cbe10b51-d957-4008-95e7-b739f6504ae2",
      "name": "Transformar Empresas"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1872,
        3280
      ],
      "id": "3dcfbf61-1c68-4eb9-968f-bb530a51dcf8",
      "name": "Loop Agencias"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT disabled_at FROM onboarding.businesses WHERE code = {{ $('Loop Agencias').item.json.properties.codigo }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1648,
        3200
      ],
      "id": "f182ef6a-690f-4bc3-82bb-31d5f806dffc",
      "name": "Verificar Estado BD",
      "credentials": {
        "mySql": {
          "id": "uypzAlinn7HdOqoC",
          "name": "n8n prod"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d374127-1bb1-40af-b7f4-5c75e75222f9",
              "leftValue": "={{ $json.disabled_at }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1424,
        3200
      ],
      "id": "f917df66-47f4-4873-bee0-2b2616784f0f",
      "name": "¿Está Deshabilitada?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboarding.businesses SET disabled_at = NULL WHERE code = {{ $('Loop Agencias').item.json.properties.codigo }};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1200,
        3280
      ],
      "id": "18ea178a-8c55-47b6-9814-c4398f7bb42d",
      "name": "Habilitar en BD",
      "credentials": {
        "mySql": {
          "id": "uypzAlinn7HdOqoC",
          "name": "n8n prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        { \"propertyName\": \"empresa_habilitada\", \"operator\": \"EQ\", \"value\": \"false\" },\n        { \"propertyName\": \"createdate\", \"operator\": \"GTE\", \"value\": \"{{ Date.now() - (80 * 24 * 60 * 60 * 1000) }}\" }\n      ]\n    }\n  ],\n  \"properties\": [\"codigo\", \"name\", \"hubspot_owner_id\", \"num_associated_contacts\"],\n  \"limit\": 200,\n  \"sorts\": [\n    { \"propertyName\": \"createdate\", \"direction\": \"DESCENDING\" }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        3712
      ],
      "id": "6a85bf09-3a2b-441a-865c-949f54bf4d12",
      "name": "Buscar Agencias Deshabilitadas",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        3712
      ],
      "id": "b10f428d-7f74-43f4-b56f-4b4d1cad9dc3",
      "name": "Transformar Deshabilitadas"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1872,
        3712
      ],
      "id": "3234a1b4-c25c-4e4f-a152-67f2926c8655",
      "name": "Loop Deshabilitadas"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT disabled_at FROM onboarding.businesses WHERE code = {{ $('Loop Deshabilitadas').item.json.properties.codigo }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1648,
        3520
      ],
      "id": "192adfc9-0b9d-4e16-89a9-8ed49de246ea",
      "name": "Verificar Estado BD2",
      "credentials": {
        "mySql": {
          "id": "uypzAlinn7HdOqoC",
          "name": "n8n prod"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9d374127-1bb1-40af-b7f4-5c75e75222f9",
              "leftValue": "={{ $json.disabled_at }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1424,
        3520
      ],
      "id": "9a2941e6-3cf6-4ba0-acb5-0fde4b671050",
      "name": "¿Está Habilitada en BD?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "94d26faf-0744-48be-9e10-d383454cf239",
              "leftValue": "={{ $('Loop Deshabilitadas').item.json.properties.name }}",
              "rightValue": "Test operaciones 10",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1200,
        3520
      ],
      "id": "c77ad291-867a-4cb7-94fd-4056b9c2906d",
      "name": "¿Es Test?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboarding.businesses SET disabled_at = NOW() WHERE code = {{ $('Loop Deshabilitadas').item.json.properties.codigo }};",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -976,
        3584
      ],
      "id": "7b4ae09a-7a25-4243-aa13-7c9fc61856c0",
      "name": "Deshabilitar en BD",
      "credentials": {
        "mySql": {
          "id": "uypzAlinn7HdOqoC",
          "name": "n8n prod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        3968
      ],
      "id": "271eff8b-b947-4465-817d-17eb1c84235a",
      "name": "Transformar Contactos Validados"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1872,
        3968
      ],
      "id": "7051e02e-3a4f-4fe1-898e-34412931298d",
      "name": "Loop Contactos Validados"
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/companies/{{ $json.properties.associatedcompanyid }}?properties=codigo,name,onboarding_finalizado",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1648,
        3760
      ],
      "id": "f7b76b8a-b5d6-485d-891a-9620ee7b211f",
      "name": "Obtener Empresa",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c079f3f-0531-4842-a9a3-c369131a3f16",
              "leftValue": "={{ $json.properties.onboarding_finalizado }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1424,
        3760
      ],
      "id": "0397a5c8-5549-4e5e-8460-12ad52076d9f",
      "name": "¿Onboarding Finalizado?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/companies/{{ $('Loop Contactos Validados').item.json.properties.associatedcompanyid }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"onboarding_finalizado\": \"true\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        4016
      ],
      "id": "074c2c19-464e-4f88-b715-9cc3c1154123",
      "name": "Marcar Onboarding Completo",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2544,
        4288
      ],
      "id": "e5db11f8-5042-49cf-93b5-b836d3cc7caf",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        { \"propertyName\": \"emailverificado\", \"operator\": \"EQ\", \"value\": \"true\" },\n        { \"propertyName\": \"identidad_validada\", \"operator\": \"EQ\", \"value\": \"true\" },\n        { \"propertyName\": \"telefono_validado\", \"operator\": \"EQ\", \"value\": \"true\" },\n        { \"propertyName\": \"associatedcompanyid\", \"operator\": \"HAS_PROPERTY\" },\n        { \n          \"propertyName\": \"createdate\", \n          \"operator\": \"GTE\", \n          \"value\": \"{{ Date.now() - (90 * 24 * 60 * 60 * 1000) }}\" \n        }\n      ]\n    }\n  ],\n  \"properties\": [\n    \"associatedcompanyid\",\n    \"createdate\",\n    \"email\"\n  ],\n  \"limit\": 200,\n  \"sorts\": [\n    { \"propertyName\": \"createdate\", \"direction\": \"DESCENDING\" }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        3968
      ],
      "id": "b9a31d20-4106-4e43-b0d1-8d77e503c01f",
      "name": "Buscar Contactos Validados",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"associatedcompanyid\",\n          \"operator\": \"NOT_HAS_PROPERTY\"\n        },\n        {\n          \"propertyName\": \"createdate\",\n          \"operator\": \"GTE\",\n          \"value\": \"{{ Date.now() - (45 * 24 * 60 * 60 * 1000) }}\"\n        },\n        {\n          \"propertyName\": \"hs_object_source\",\n          \"operator\": \"NEQ\",\n          \"value\": \"FORM\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\n    \"associatedcompanyid\",\n    \"createdate\",\n    \"email\",\n    \"firstname\",\n    \"lastname\",\n    \"hs_analytics_source\",\n    \"hs_analytics_source_data_1\",\n    \"hs_object_source\"\n  ],\n  \"limit\": 200,\n  \"sorts\": [\n    { \"propertyName\": \"createdate\", \"direction\": \"DESCENDING\" }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        4288
      ],
      "id": "affa9e79-f255-4399-8597-338f44d393ab",
      "name": "Buscar Contactos Sin Empresa",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1872,
        4288
      ],
      "id": "5c915053-9624-4157-8219-15b66ebe6091",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.*, b.disabled_at FROM onboarding.users u INNER JOIN onboarding.businesses b ON u.business_id = b.id WHERE u.email = \"{{ $json.properties.email }}\";",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1648,
        4288
      ],
      "id": "f76d6954-96b7-4830-aa5b-0d077bd9d139",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "uypzAlinn7HdOqoC",
          "name": "n8n prod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn $input.first().json.results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        4288
      ],
      "id": "668853cf-3355-4e0e-8fd4-ebd0b0d3dde7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "\nreturn $input.first().json.results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        4592
      ],
      "id": "debd605d-4c07-451f-a671-afa925a4857e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        { \"propertyName\": \"num_associated_contacts\", \"operator\": \"EQ\", \"value\": \"0\" },\n        { \"propertyName\": \"createdate\", \"operator\": \"GTE\", \"value\": \"{{ Date.now() - (90 * 24 * 60 * 60 * 1000) }}\" }\n      ]\n    }\n  ],\n  \"properties\": [\n    \"codigo\",\n    \"name\",\n    \"hubspot_owner_id\",\n    \"num_associated_contacts\"\n  ],\n  \"limit\": 200,\n  \"sorts\": [\n    { \"propertyName\": \"createdate\", \"direction\": \"DESCENDING\" }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        4592
      ],
      "id": "de3fdfea-9f92-481a-b583-09a7ca14bbef",
      "name": "Empresas sin contacto",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1872,
        4592
      ],
      "id": "096568b0-db91-4f74-9d57-167107ca7365",
      "name": "Empresa sin contacto"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    b.code\nFROM onboarding.users u\nINNER JOIN onboarding.businesses b \n        ON u.business_id = b.id\nWHERE u.email = \"{{ $json.email }}\";",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1424,
        4288
      ],
      "id": "ef554e5b-318a-411b-a499-2db5df39a878",
      "name": "Execute a SQL query1",
      "credentials": {
        "mySql": {
          "id": "uypzAlinn7HdOqoC",
          "name": "n8n prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automatizaciones.decreditos.com/webhook/sincroAgencia",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n{\n  \"code\" : {{ $json.code }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        4288
      ],
      "id": "6549b9d9-9670-43f0-b28c-74b5d3d2232d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2128,
        4896
      ],
      "id": "3371261e-1bad-437e-a06b-64840c09d6a9",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"email\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{ $json.email }}\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\n    \"emailverificado\",\n    \"identidad_validada\",\n    \"telefono_validado\",\n    \"associatedcompanyid\"\n  ],\n  \"limit\": 1\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1904,
        4816
      ],
      "id": "79d24930-9a3b-4e2f-9244-c88d7d3f4f64",
      "name": "GetUser1",
      "credentials": {
        "httpBearerAuth": {
          "id": "gsNQ34ai7rHgzAqG",
          "name": "TokenRobert"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "06331c1d-9553-409b-b013-5decfecf693c",
              "leftValue": "={{ $json.results[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "815a937d-56bd-4471-9ec7-eddb5f5681ac",
              "leftValue": "={{ $json.results[0].properties.associatedcompanyid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1680,
        4816
      ],
      "id": "75ba9dba-8b91-4c23-ae67-ff8cfcdd8577",
      "name": "Existe en HS?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    u.id,\n    u.email,\n    u.business_id,\n    u.created_at,\n    b.code AS business_code\nFROM onboarding.users u\nINNER JOIN onboarding.businesses b\n    ON b.id = u.business_id\nWHERE \n     u.created_at >= NOW() - INTERVAL 12 HOUR\nORDER BY u.created_at DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -2352,
        4896
      ],
      "id": "abf2d9f4-a56b-4766-aa64-1e3e7c2343ef",
      "name": "Ultimos usuarios creados",
      "credentials": {
        "mySql": {
          "id": "uypzAlinn7HdOqoC",
          "name": "n8n prod"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1232,
        4816
      ],
      "id": "a1415ed9-809b-4673-9cad-3829e76c6b7a",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1008,
        4896
      ],
      "id": "882f8be4-7c08-4f95-97db-edb541f2a5b7",
      "name": "Wait",
      "webhookId": "b7c95074-ae17-449a-9793-34a561bf499f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automatizaciones.decreditos.com/webhook/sincroAgencia",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n{\n  \"code\" : {{ $json.properties.codigo }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1648,
        4592
      ],
      "id": "b5e0836c-b2a4-4149-b7cd-56bb8b1ede1a",
      "name": "Sincronizador 1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automatizaciones.decreditos.com/webhook/sincroAgencia",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"code\" :{{ $('Loop Over Items3').item.json.business_code }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1456,
        4752
      ],
      "id": "7806c451-c1fd-4759-a035-6563173b8324",
      "name": "Sincronizador 2",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Buscar Agencias Habilitadas": {
      "main": [
        [
          {
            "node": "Transformar Empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Empresas": {
      "main": [
        [
          {
            "node": "Loop Agencias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Agencias": {
      "main": [
        [],
        [
          {
            "node": "Verificar Estado BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Estado BD": {
      "main": [
        [
          {
            "node": "¿Está Deshabilitada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Está Deshabilitada?": {
      "main": [
        [
          {
            "node": "Loop Agencias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Habilitar en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Agencias Deshabilitadas": {
      "main": [
        [
          {
            "node": "Transformar Deshabilitadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Deshabilitadas": {
      "main": [
        [
          {
            "node": "Loop Deshabilitadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Deshabilitadas": {
      "main": [
        [],
        [
          {
            "node": "Verificar Estado BD2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Estado BD2": {
      "main": [
        [
          {
            "node": "¿Está Habilitada en BD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Está Habilitada en BD?": {
      "main": [
        [
          {
            "node": "¿Es Test?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Deshabilitadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Test?": {
      "main": [
        [
          {
            "node": "Loop Deshabilitadas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Deshabilitar en BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deshabilitar en BD": {
      "main": [
        [
          {
            "node": "Loop Deshabilitadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Contactos Validados": {
      "main": [
        [
          {
            "node": "Loop Contactos Validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Contactos Validados": {
      "main": [
        [],
        [
          {
            "node": "Obtener Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Empresa": {
      "main": [
        [
          {
            "node": "¿Onboarding Finalizado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Onboarding Finalizado?": {
      "main": [
        [
          {
            "node": "Loop Contactos Validados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar Onboarding Completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Onboarding Completo": {
      "main": [
        [
          {
            "node": "Loop Contactos Validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Buscar Agencias Habilitadas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Agencias Deshabilitadas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Contactos Validados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar Contactos Sin Empresa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Empresas sin contacto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ultimos usuarios creados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contactos Validados": {
      "main": [
        [
          {
            "node": "Transformar Contactos Validados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contactos Sin Empresa": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Empresa sin contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empresas sin contacto": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empresa sin contacto": {
      "main": [
        [],
        [
          {
            "node": "Sincronizador 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Habilitar en BD": {
      "main": [
        [
          {
            "node": "Loop Agencias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "GetUser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetUser1": {
      "main": [
        [
          {
            "node": "Existe en HS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe en HS?": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizador 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ultimos usuarios creados": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sincronizador 1": {
      "main": [
        [
          {
            "node": "Empresa sin contacto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empresa sin contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sincronizador 2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9fd2548b-80fc-4910-80d8-ef9a6f884b05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5664ffb61e7249b25908d8d6df83645f6785fb397ba43d39348a86261f503d0"
  },
  "id": "7Z7hZa0Cw5AOISRM",
  "tags": []
}