INSERT Validaciones_N8N.json
{
  "name": "INSERT Validaciones_N8N",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "27bca2d0-0b34-49bb-a0e6-8b55593f3947",
              "leftValue": "={{ $json.subscriptionType }}",
              "rightValue": "contact.propertyChange",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1232,
        848
      ],
      "id": "3b5443e5-ecc6-42f3-bf8c-d14ee7a7880b",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.objectId }}?properties=email,firstname,lastname",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        944
      ],
      "id": "99d0f35a-b5f2-4777-bf81-d39aa87589e6",
      "name": "Obtener usuario",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    u.id AS user_id,\n    b.code AS agency_code\nFROM onboarding.users u\nINNER JOIN onboarding.businesses b \n    ON u.business_id = b.id\nWHERE u.email = \"{{ $json.properties.email }}\";\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        1680,
        1008
      ],
      "id": "25ae6046-c08f-4ae3-8992-5397750fe266",
      "name": "Obtener datos del usuario",
      "credentials": {
        "mySql": {
          "id": "uypzAlinn7HdOqoC",
          "name": "n8n prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO onboarding.validaciones_n8n  \n  (campo_cambiado, valor, email_usuario, id_usuario, codigo_agencia, fecha_cambio, estado_proceso, destino)\nVALUES \n  (\n    '{{ $json.property }}',\n    '{{ $json.value }}',\n    '{{ $json.email }}',\n    {{ $json.user_id }},\n    {{ $json.agency_code }},\n    NOW(),\n    'pending',\n    'DB'\n  );\n",
        "options": {}
      },
      "id": "2b3cfde4-3f21-4d1c-a587-8e44e1773933",
      "name": "Insertar Validacion_n8n",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        2128,
        1296
      ],
      "credentials": {
        "mySql": {
          "id": "uypzAlinn7HdOqoC",
          "name": "n8n prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO onboarding.validaciones_n8n  \n  (campo_cambiado, valor, email_usuario, id_usuario, codigo_agencia, fecha_cambio, estado_proceso, destino)\nVALUES \n  (\n    '{{ $json.Campo }}',\n    \"{{ $json.valor == \"true\" || $json.valor == \"false\" ? $json.valor == \"true\" ? 1 : 0 : $json.valor}}\",\n    '{{ $json.correo }}',\n    \"{{ $json[\"Objeto id\"] }}\",\n    \"{{ $json.codigo }}\",\n    '{{ $json.fechaActual }}',\n    'pending',\n    'DB'\n  );\n",
        "options": {}
      },
      "id": "4a4765c9-29bb-4750-9f64-7d8bc45e7191",
      "name": "MySQL Insert1",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        2128,
        288
      ],
      "credentials": {
        "mySql": {
          "id": "uypzAlinn7HdOqoC",
          "name": "n8n prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insertvalidaciones_n8n",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5236661e-f9c8-41ef-9a0b-a2cb6854f1b3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        560,
        768
      ],
      "webhookId": "insert-validaciones"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"hs_object_id\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{ $json.objectId }}\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\"name\", \"codigo\", \"hs_object_id\", \"createdate\", \"equipo_email\"],\n  \"limit\": 1\n}",
        "options": {}
      },
      "id": "a1cfd86f-6728-447d-98ba-af42c48173c1",
      "name": "Obtener Empresa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1456,
        608
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Yxtx97R2cXE7HJnk",
          "mode": "list",
          "cachedResultUrl": "/workflow/Yxtx97R2cXE7HJnk"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2352,
        720
      ],
      "id": "18346091-0343-4f8b-8f40-5ffa566b663f",
      "name": "Call 'NotificarErrores'1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1008,
        1248
      ],
      "id": "43bd9e86-e8ed-4f9e-a6c6-532e418c62b3",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "jsCode": "// Este código busca dentro del objeto recibido\n// encadenando \"body\" hasta llegar al array final.\n\n// Toma el item completo de n8n\nlet data = items[0].json;\n\n// Función recursiva\nfunction getDeepBody(obj) {\n  // Si no hay body → devolvemos el objeto actual\n  if (!obj.body) return obj;\n\n  // Si el body ES un array con eventos → lo encontramos\n  if (Array.isArray(obj.body) && obj.body.length > 0 && !obj.body[0].headers) {\n    return obj.body;\n  }\n\n  // Si el body es un array de niveles anteriores, seguimos con el primer elemento\n  if (Array.isArray(obj.body) && obj.body.length > 0) {\n    return getDeepBody(obj.body[0]);\n  }\n\n  // Si el body es un objeto → seguir dentro\n  if (typeof obj.body === 'object') {\n    return getDeepBody(obj.body);\n  }\n\n  // Si no coincide nada, devolver tal cual\n  return obj;\n}\n\n// Ejecutamos búsqueda profunda\nconst result = getDeepBody(data);\n\n// Devolver el array final como output\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        768
      ],
      "id": "7228f6ec-0233-427d-90e2-2abf4fcf98ad",
      "name": "Code in JavaScript1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e7c4e98e-8fbb-46a1-b304-d1957683d5d8",
              "name": "codigo",
              "value": "={{ $json.results[0].properties.codigo }}",
              "type": "string"
            },
            {
              "id": "867d1052-34ee-423a-80ca-ab551d075689",
              "name": "correo",
              "value": "={{ $json.results[0].properties.equipo_email }}",
              "type": "string"
            },
            {
              "id": "5834e633-7361-4358-a2b5-7104f63a886e",
              "name": "Campo",
              "value": "={{ $('Loop Over Items1').item.json.propertyName }}",
              "type": "string"
            },
            {
              "id": "eab21e94-e12c-42b6-abb4-42bbcc85c62d",
              "name": "valor",
              "value": "={{ $('Loop Over Items1').item.json.propertyValue }}",
              "type": "string"
            },
            {
              "id": "12e93e32-247d-4cbb-be6b-311d1ea01c1f",
              "name": "Objeto id",
              "value": "={{ $('Loop Over Items1').item.json.objectId }}",
              "type": "string"
            },
            {
              "id": "2f4092ac-864f-4653-968b-cfcabff93e5b",
              "name": "=fechaActual",
              "value": "={{  new Date().toISOString().slice(0, 19).replace('T', ' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1680,
        384
      ],
      "id": "3e3404e6-01e3-4432-b1bb-9cad18699485",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0bdba0bc-beb7-4814-8781-f8bb5714c4db",
              "leftValue": "={{ $json.codigo }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1904,
        384
      ],
      "id": "520490a8-aa92-4d2f-88ac-eccc318bbb25",
      "name": "If2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"message\": \"Datos insertados correctamente\",\n  \"records\": $items().length,\n  \"totalAffectedRows\": $items().reduce((sum, item) => sum + (item.json.affectedRows || 1), 0)\n} }}",
        "options": {}
      },
      "id": "4bb8f3e7-98ee-4eb5-908a-036dd81f8494",
      "name": "Response Success1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1456,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "// Agregar información de éxito a cada item\nconst items = $input.all();\n\nreturn items.map(item => ({\n  json: {\n    success: true,\n    affectedRows: item.json.affectedRows || 1,\n    insertId: item.json.insertId || null,\n    message: 'Datos insertados correctamente'\n  }\n}));"
      },
      "id": "2b14b2ce-53e6-4e65-b2e1-7e8ed14ecc31",
      "name": "Add Success Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        1184
      ]
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2128,
        480
      ],
      "id": "68f6bde3-769d-4a95-9896-c94955e9b862",
      "name": "Wait",
      "webhookId": "ffcb9cb0-a02c-4392-9674-c569ee056ca7"
    },
    {
      "parameters": {
        "jsCode": "\nreturn {\n  \"user_id\": $input.first().json.user_id,\n  \"agency_code\": $input.first().json.agency_code,\n  \"property\": $('If1').first().json.propertyName,\n  \"value\": typeof $('If1').first().json.propertyValue === 'string'\n    ? (\n        $('If1').first().json.propertyValue === 'user'\n          ? 1\n          : ($('If1').first().json.propertyValue === 'true' ? 1 : 0)\n      )\n    : $('If1').first().json.propertyValue,\n  \"email\":$('Obtener usuario').first().json.properties.email\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        1088
      ],
      "id": "1d3563d4-ee4f-428d-be3e-2e79e8602b04",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "If1": {
      "main": [
        [
          {
            "node": "Obtener usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener usuario": {
      "main": [
        [
          {
            "node": "Obtener datos del usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NotificarErrores'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener datos del usuario": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NotificarErrores'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Validacion_n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NotificarErrores'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL Insert1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NotificarErrores'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Empresa": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NotificarErrores'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Add Success Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'NotificarErrores'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "MySQL Insert1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Success Info": {
      "main": [
        [
          {
            "node": "Response Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Obtener Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insertar Validacion_n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc0ea1fb-4f8a-427d-9db4-597ea0744c44",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5664ffb61e7249b25908d8d6df83645f6785fb397ba43d39348a86261f503d0"
  },
  "id": "fpJaGIJMAqut7UIs",
  "tags": []
}