Obtencion de datos.json
{
  "name": "Obtencion de datos",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/owners",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": 44666627983,\n  \"email\": \"lvalecillos@decreditos.com\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1984,
        96
      ],
      "id": "10529973-b97d-464f-92dd-357fc5a1f092",
      "name": "HTTP Request6",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2208,
        288
      ],
      "id": "4d4743ed-4ea0-40e8-84ee-832fdd556413",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://api.hubapi.com/crm/v3/objects/companies/44666627983",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1760,
        160
      ],
      "id": "785a1c7a-8104-4ba5-9833-78ca5b726ee7",
      "name": "Obtener Empresa1",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        { \"propertyName\": \"num_associated_contacts\", \"operator\": \"EQ\", \"value\": \"0\" },\n        { \"propertyName\": \"createdate\", \"operator\": \"GTE\", \"value\": \"{{ Date.now() - (90 * 24 * 60 * 60 * 1000) }}\" }\n      ]\n    }\n  ],\n  \"properties\": [\n    \"codigo\",\n    \"name\",\n    \"hubspot_owner_id\",\n    \"num_associated_contacts\"\n  ],\n  \"limit\": 200,\n  \"sorts\": [\n    { \"propertyName\": \"createdate\", \"direction\": \"DESCENDING\" }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        608
      ],
      "id": "66283d65-db69-49ee-8cd5-396975bdb03a",
      "name": "BuscarAgencia",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    u.id,\n    u.email,\n    u.phone,\n    u.business_id,\n    u.created_at,\n    u.email_verified_at,\n    u.phone_verified_at,\n    upd.identity_confirmed_at,\n    upd.first_name,\n    upd.last_name,\n    b.code AS business_code\nFROM onboarding.users u\nINNER JOIN onboarding.businesses b\n    ON b.id = u.business_id\nLEFT JOIN onboarding.user_personal_data upd \n    ON upd.user_id = u.id\nWHERE \n    u.created_at >= NOW() - INTERVAL 1 MONTH\n    AND (\n        u.email_verified_at IS NOT NULL \n        OR u.phone_verified_at IS NOT NULL \n        OR upd.identity_confirmed_at IS NOT NULL\n    )\nORDER BY u.created_at DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -1552,
        336
      ],
      "id": "d66ef546-2c20-4c0a-a0c7-c1082de2dc5b",
      "name": "Usuarios con Validaciones Último Mes",
      "credentials": {
        "mySql": {
          "id": "uypzAlinn7HdOqoC",
          "name": "n8n prod"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1376,
        336
      ],
      "id": "36b03a9f-b5f8-4d81-a1b2-6db2ea14d211",
      "name": "Loop Over Usuarios"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [\n    {\n      \"filters\": [\n        {\n          \"propertyName\": \"email\",\n          \"operator\": \"EQ\",\n          \"value\": \"{{ $json.email }}\"\n        }\n      ]\n    }\n  ],\n  \"properties\": [\n    \"emailverificado\",\n    \"identidad_validada\",\n    \"telefono_validado\"\n  ],\n  \"limit\": 1\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        256
      ],
      "id": "2d997b16-0c7c-447d-a51b-dd4fda56776d",
      "name": "Buscar Contacto en HubSpot",
      "credentials": {
        "httpBearerAuth": {
          "id": "gsNQ34ai7rHgzAqG",
          "name": "TokenRobert"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "existe-contacto",
              "leftValue": "={{ $json.results[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -928,
        256
      ],
      "id": "b880df63-c62e-48dd-9145-ba6982fae1f3",
      "name": "¿Contacto Existe?"
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos de BD y HubSpot\nconst dataBD = $('Loop Over Usuarios').item.json;\nconst dataHS = $json.results[0].properties;\n\n// Convertir valores de BD a string booleano para comparar\nconst bdEmailVerificado = dataBD.email_verified_at ? 'true' : 'false';\nconst bdTelefonoValidado = dataBD.phone_verified_at ? 'true' : 'false';\nconst bdIdentidadValidada = dataBD.identity_confirmed_at ? 'true' : 'false';\n\n// Valores actuales en HubSpot\nconst hsEmailVerificado = dataHS.emailverificado || 'false';\nconst hsTelefonoValidado = dataHS.telefono_validado || 'false';\nconst hsIdentidadValidada = dataHS.identidad_validada || 'false';\n\n// Verificar si necesita actualización\nconst necesitaActualizacion = \n  bdEmailVerificado !== hsEmailVerificado ||\n  bdTelefonoValidado !== hsTelefonoValidado ||\n  bdIdentidadValidada !== hsIdentidadValidada;\n\nreturn {\n  json: {\n    contacto_id: $json.results[0].id,\n    email: dataBD.email,\n    necesita_actualizacion: necesitaActualizacion,\n    // Datos actuales de BD\n    emailverificado: bdEmailVerificado,\n    telefono_validado: bdTelefonoValidado,\n    identidad_validada: bdIdentidadValidada,\n    // Para log/debug\n    diferencias: {\n      email_verificado: { bd: bdEmailVerificado, hs: hsEmailVerificado },\n      telefono_validado: { bd: bdTelefonoValidado, hs: hsTelefonoValidado },\n      identidad_validada: { bd: bdIdentidadValidada, hs: hsIdentidadValidada }\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        80
      ],
      "id": "47387b24-6746-49c9-a2a2-3731429fb243",
      "name": "Comparar Validaciones"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "necesita-update",
              "leftValue": "={{ $json.necesita_actualizacion }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        80
      ],
      "id": "2f63d5f0-5922-40c5-be6d-958019109644",
      "name": "¿Necesita Actualización?"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $json.contacto_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"emailverificado\": \"{{ $json.emailverificado }}\",\n    \"telefono_validado\": \"{{ $json.telefono_validado }}\",\n    \"identidad_validada\": \"{{ $json.identidad_validada }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        0
      ],
      "id": "3954fd27-ef3d-44d7-9804-4610040948a8",
      "name": "Actualizar Validaciones en HubSpot",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -80,
        208
      ],
      "id": "43ddc2f9-ad0b-4015-8a06-556718728b65",
      "name": "Sin Cambios Necesarios"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        192,
        256
      ],
      "id": "95c03539-1753-4596-b8e7-65280f959c7d",
      "name": "Wait1",
      "webhookId": "validaciones-sync-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automatizaciones.decreditos.com/webhook/sincroAgencia",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"code\" :{{ $('Loop Over Usuarios').item.json.business_code }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        368
      ],
      "id": "6134ca85-f9f7-41db-ac92-6c2ce1c5dceb",
      "name": "Sincronizador ",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://automatizaciones.decreditos.com/webhook/sincroAgencia",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"code\" :40419762\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1968,
        720
      ],
      "id": "a7cc2dd3-194e-4528-bfd6-4a0550b18bd5",
      "name": "Sincronizador 3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    fechaServidor: new Date(),\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        560
      ],
      "id": "1674614f-2f30-4e39-ac06-42e88fb43194",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/95551818655",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1744,
        976
      ],
      "id": "72262c42-e364-4d9f-8082-ca664db4700f",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/notes/batch/read",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": [\"hs_note_body\"],\n  \"inputs\": [{ \"id\": \"99028144150\" },\n    { \"id\": \"99028144149\" }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        992
      ],
      "id": "220388ea-5c71-4231-a69a-6934b88d9c5e",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/companies/49915990044",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"properties\": {\n    \"empresa_habilitada\": \"true\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        160
      ],
      "id": "d56b33b6-c01a-459c-ba79-1d0f1566292a",
      "name": "Obtener Empresa",
      "credentials": {
        "httpBearerAuth": {
          "id": "o6wh93iNfl5M3bKB",
          "name": "TokenLauti"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtener Empresa1",
            "type": "main",
            "index": 0
          },
          {
            "node": "BuscarAgencia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Usuarios con Validaciones Último Mes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sincronizador 3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuarios con Validaciones Último Mes": {
      "main": [
        [
          {
            "node": "Loop Over Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Usuarios": {
      "main": [
        [],
        [
          {
            "node": "Buscar Contacto en HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contacto en HubSpot": {
      "main": [
        [
          {
            "node": "¿Contacto Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Contacto Existe?": {
      "main": [
        [
          {
            "node": "Comparar Validaciones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sincronizador ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comparar Validaciones": {
      "main": [
        [
          {
            "node": "¿Necesita Actualización?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Necesita Actualización?": {
      "main": [
        [
          {
            "node": "Actualizar Validaciones en HubSpot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Cambios Necesarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Validaciones en HubSpot": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sin Cambios Necesarios": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sincronizador ": {
      "main": [
        [
          {
            "node": "Sin Cambios Necesarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Empresa1": {
      "main": [
        [
          {
            "node": "Obtener Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2b5642f9-5e1c-4a7f-97f6-32f848a588de",
  "meta": {
    "instanceId": "f5664ffb61e7249b25908d8d6df83645f6785fb397ba43d39348a86261f503d0"
  },
  "id": "B3TFpZA4BepKeHFt",
  "tags": []
}