RENAPER.json
{
  "name": "RENAPER",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "19fe0a39-2076-475d-a45c-a6ce31dde027",
      "name": "Cron cada 10min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2672,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Obtener titulares, cónyuges y garantes recientes (últimos 11 minutos)\nSELECT DISTINCT\n    cred.Codigo AS nroop,\n    cli.NroDoc AS nrodoc,\n    cli.Sexo AS sexo,\n    ext.tramite AS tramite,\n    60 AS recurso,\n    'Titular' AS tipo_persona\nFROM prendarios.Creditos cred\nINNER JOIN prendarios.Clientes cli\n    ON cli.Codigo = cred.Cliente\nINNER JOIN (\n    SELECT \n        CAST(nrodoc AS UNSIGNED) AS nrodoc_num,\n        tramite\n    FROM prendarios.ex_titulos_dni\n    WHERE tramite IS NOT NULL\n      AND tramite != ''\n) ext\n    ON ext.nrodoc_num = cli.NroDoc\nWHERE cred.FechaAlta >= NOW() - INTERVAL 1 HOUR\n  AND cli.NroDoc IS NOT NULL\n  AND cli.Sexo IS NOT NULL\n\nUNION ALL\n\n-- CÓNYUGES\nSELECT DISTINCT\n    cred.Codigo AS nroop,\n    cred.NroDocCoTitular AS nrodoc,\n    cli_cony.Sexo AS sexo,\n    ext.tramite AS tramite,\n    61 AS recurso,\n    'Conyuge' AS tipo_persona\nFROM prendarios.Creditos cred\nINNER JOIN prendarios.Clientes cli_cony\n    ON cli_cony.NroDoc = cred.NroDocCoTitular\nINNER JOIN (\n    SELECT \n        CAST(nrodoc AS UNSIGNED) AS nrodoc_num,\n        tramite\n    FROM prendarios.ex_titulos_dni\n    WHERE tramite IS NOT NULL\n      AND tramite != ''\n) ext\n    ON ext.nrodoc_num = cred.NroDocCoTitular\nWHERE cred.FechaAlta >= NOW() - INTERVAL 1 HOUR\n  AND cred.NroDocCoTitular IS NOT NULL\n  AND cli_cony.Sexo IS NOT NULL\n\nUNION ALL\n\n-- GARANTES\nSELECT DISTINCT\n    cred.Codigo AS nroop,\n    gar.NroDoc AS nrodoc,\n    gar.Sexo AS sexo,\n    ext.tramite AS tramite,\n    62 AS recurso,\n    'Garante' AS tipo_persona\nFROM prendarios.Creditos cred\nINNER JOIN prendarios.Clientes gar\n    ON gar.Codigo = cred.Garante\nINNER JOIN (\n    SELECT \n        CAST(nrodoc AS UNSIGNED) AS nrodoc_num,\n        tramite\n    FROM prendarios.ex_titulos_dni\n    WHERE tramite IS NOT NULL\n      AND tramite != ''\n) ext\n    ON ext.nrodoc_num = gar.NroDoc\nWHERE cred.FechaAlta >= NOW() - INTERVAL 1 HOUR\n  AND cred.Garante IS NOT NULL\n  AND cred.Garante != 0\n  AND gar.NroDoc IS NOT NULL\n  AND gar.Sexo IS NOT NULL\n\nORDER BY nroop, recurso;\n",
        "options": {}
      },
      "id": "34bacb3c-b1da-4e93-9dbf-0f7b9772aee0",
      "name": "Obtener Casos de Creditos",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2448,
        512
      ],
      "credentials": {
        "mySql": {
          "id": "ffbFNZ6899bQTg56",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.users }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73c8cbf8-d767-4303-8736-9187611cf6c8",
      "name": "Hay Casos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2000,
        512
      ]
    },
    {
      "parameters": {},
      "id": "02e856b8-3cb0-4b5f-a33a-95ff8ae27fb3",
      "name": "No Hay Casos",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1776,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://validaciones.decreditos.com/api/client/oauth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userName",
              "value": "app-biometria"
            },
            {
              "name": "password",
              "value": "asd12e2efg53354"
            },
            {
              "name": "grand_type",
              "value": "biometria"
            }
          ]
        },
        "options": {}
      },
      "id": "50d6fff1-e105-4dc1-ad7c-65dcc69d2b96",
      "name": "Login API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1776,
        416
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f0bb4e16-b4f3-491f-80f8-a29d937cee6e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1328,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://validaciones.decreditos.com/api/validar-dni",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Login API\"].json[\"access_token\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dni",
              "value": "={{ $json.nrodoc }}"
            },
            {
              "name": "sexo",
              "value": "={{ $json.sexo }}"
            },
            {
              "name": "id_tramite",
              "value": "={{ $json.tramite.replace(/^0+/, '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9553c8ee-aedf-4f69-93c7-908dd9010f94",
      "name": "Validar DNI RENAPER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        80
      ],
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-imagen",
              "leftValue": "={{ $json.data.imagen }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d41bc080-fe02-4141-9b77-b97dd3c12f89",
      "name": "Respuesta Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -880,
        80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "2dd20494-2660-4524-8d82-86b0a7a592b1",
      "name": "Error RENAPER (continuar)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -656,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://validaciones.decreditos.com/api/subir-recurso",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Login API\"].json[\"access_token\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "imagen",
              "value": "={{ $('Validar DNI RENAPER').item.json.data.imagen }}"
            },
            {
              "name": "numero_operacion",
              "value": "={{ $('Loop Over Items').item.json.nroop }}"
            },
            {
              "name": "recurso",
              "value": "={{ $('Loop Over Items').item.json.recurso }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c5087c12-a401-459e-b497-0c9078877e17",
      "name": "Subir Recurso API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        80
      ],
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "4278a882-f55c-401f-a0d1-e1fdf16b67e1",
      "name": "Procesado OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -432,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n   \"users\":  $input.all()\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        512
      ],
      "id": "e7525924-ca3f-421c-83a8-229f6d27b9d3",
      "name": "Usuarios a validar"
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn $('Usuarios a validar').first().json.users;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        416
      ],
      "id": "efe1604e-f583-4982-8de5-23f7af84d653",
      "name": "Agrupar usuarios a validar"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron cada 10min": {
      "main": [
        [
          {
            "node": "Obtener Casos de Creditos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Casos de Creditos": {
      "main": [
        [
          {
            "node": "Usuarios a validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Casos?": {
      "main": [
        [
          {
            "node": "Login API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Hay Casos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login API": {
      "main": [
        [
          {
            "node": "Agrupar usuarios a validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Validar DNI RENAPER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar DNI RENAPER": {
      "main": [
        [
          {
            "node": "Respuesta Valida?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Valida?": {
      "main": [
        [
          {
            "node": "Subir Recurso API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error RENAPER (continuar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error RENAPER (continuar)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Recurso API": {
      "main": [
        [
          {
            "node": "Procesado OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesado OK": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuarios a validar": {
      "main": [
        [
          {
            "node": "Hay Casos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar usuarios a validar": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dce53b7a-9171-429c-905c-5c9fd9c5f9f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5664ffb61e7249b25908d8d6df83645f6785fb397ba43d39348a86261f503d0"
  },
  "id": "87Fs9KTjY84Bw7BE",
  "tags": []
}