new/RENAPER.json
{
  "name": "RENAPER",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.Codigo AS nroop,\n    c2.NroDoc AS nrodoc,\n    c2.Sexo AS sexo,\n    etd.tramite AS tramite,\n    'titular' AS tipo_persona,\n    60 AS recurso\nFROM prendarios.Creditos c\nLEFT JOIN prendarios.Clientes c2 ON c.Cliente = c2.Codigo\nLEFT JOIN prendarios.ex_titulos_dni etd ON c.Codigo = etd.nroop\nWHERE c.FechaAlta >= NOW() - INTERVAL 2 HOUR\n  AND c2.NroDoc IS NOT NULL\n  AND c2.Sexo IS NOT NULL\n  AND etd.nroop IS NOT NULL\n  AND etd.nrodoc = c2.NroDoc\n  AND etd.estado = \"PROCESADO\"\n\nUNION ALL\n\nSELECT \n    c.Codigo AS nroop,\n    p.NroDoc AS nrodoc,\n    p.Sexo AS sexo,\n    etd.tramite AS tramite,\n    'garante' AS tipo_persona,\n    62 AS recurso\nFROM prendarios.Creditos c\nLEFT JOIN prendarios.Personas p ON c.Garante = p.Codigo\nLEFT JOIN prendarios.ex_titulos_dni etd ON c.Codigo = etd.nroop\nWHERE c.FechaAlta >= NOW() - INTERVAL 2 HOUR\n  AND p.NroDoc IS NOT NULL\n  AND p.Sexo IS NOT NULL\n  AND etd.nroop IS NOT NULL\n  AND etd.nrodoc = p.NroDoc\n  AND etd.estado = \"PROCESADO\"\n\nUNION ALL\n\nSELECT \n    c.Codigo AS nroop,\n    p.NroDoc AS nrodoc,\n    p.Sexo AS sexo,\n    etd.tramite AS tramite,\n    'conyuge' AS tipo_persona,\n    61 AS recurso\nFROM prendarios.Creditos c\nLEFT JOIN prendarios.Clientes c2 ON c.Cliente = c2.Codigo\nLEFT JOIN prendarios.Personas p \n    ON p.NroDoc = c2.NroDocConyuge \n   AND p.Cuit = c2.CuitCuilConyuge\nLEFT JOIN prendarios.ex_titulos_dni etd ON c.Codigo = etd.nroop\nWHERE c.FechaAlta >= NOW() - INTERVAL 2 HOUR\n  AND p.NroDoc IS NOT NULL\n  AND p.Sexo IS NOT NULL\n  AND etd.nroop IS NOT NULL\n  AND etd.nrodoc = p.NroDoc \n  AND etd.estado = \"PROCESADO\";\n\n",
        "options": {}
      },
      "id": "34bacb3c-b1da-4e93-9dbf-0f7b9772aee0",
      "name": "Obtener Casos de Creditos",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -2448,
        512
      ],
      "credentials": {
        "mySql": {
          "id": "ffbFNZ6899bQTg56",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.users }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "73c8cbf8-d767-4303-8736-9187611cf6c8",
      "name": "Hay Casos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2000,
        512
      ]
    },
    {
      "parameters": {},
      "id": "02e856b8-3cb0-4b5f-a33a-95ff8ae27fb3",
      "name": "No Hay Casos",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1776,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://validaciones.decreditos.com/api/client/oauth/login",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userName",
              "value": "app-biometria"
            },
            {
              "name": "password",
              "value": "asd12e2efg53354"
            },
            {
              "name": "grand_type",
              "value": "biometria"
            }
          ]
        },
        "options": {}
      },
      "id": "50d6fff1-e105-4dc1-ad7c-65dcc69d2b96",
      "name": "Login API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1776,
        416
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f0bb4e16-b4f3-491f-80f8-a29d937cee6e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1328,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://validaciones.decreditos.com/api/validar-dni",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Login API\"].json[\"access_token\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "dni",
              "value": "={{ $json.nrodoc }}"
            },
            {
              "name": "sexo",
              "value": "={{ $json.sexo }}"
            },
            {
              "name": "id_tramite",
              "value": "={{ $json.tramite.replace(/^0+/, '') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9553c8ee-aedf-4f69-93c7-908dd9010f94",
      "name": "Validar DNI RENAPER",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        80
      ],
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-imagen",
              "leftValue": "={{ $json.data.imagen }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d41bc080-fe02-4141-9b77-b97dd3c12f89",
      "name": "Respuesta Valida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -880,
        80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "2dd20494-2660-4524-8d82-86b0a7a592b1",
      "name": "Error RENAPER (continuar)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -448,
        272
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://validaciones.decreditos.com/api/subir-recurso",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node[\"Login API\"].json[\"access_token\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "imagen",
              "value": "={{ $('Validar DNI RENAPER').item.json.data.imagen }}"
            },
            {
              "name": "numero_operacion",
              "value": "={{ $('Loop Over Items').item.json.nroop }}"
            },
            {
              "name": "recurso",
              "value": "={{ $('Loop Over Items').item.json.recurso }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c5087c12-a401-459e-b497-0c9078877e17",
      "name": "Subir Recurso API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        80
      ],
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "4278a882-f55c-401f-a0d1-e1fdf16b67e1",
      "name": "Procesado OK",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -16,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n   \"users\":  $input.all()\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        512
      ],
      "id": "e7525924-ca3f-421c-83a8-229f6d27b9d3",
      "name": "Usuarios a validar"
    },
    {
      "parameters": {
        "jsCode": "\n\nreturn $('Usuarios a validar').first().json.users;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        416
      ],
      "id": "efe1604e-f583-4982-8de5-23f7af84d653",
      "name": "Agrupar usuarios a validar"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "19fe0a39-2076-475d-a45c-a6ce31dde027",
      "name": "Cron cada 1 HR",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2672,
        512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE prendarios.ex_titulos_dni \nSET estado = 'RENAPER_PROCESADO'\nWHERE nroop = {{ $('Loop Over Items').item.json.nroop }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -448,
        -16
      ],
      "id": "de6c29ca-75ac-4653-8158-fe972162f85b",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "uypzAlinn7HdOqoC",
          "name": "n8n prod"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Obtener Casos de Creditos": {
      "main": [
        [
          {
            "node": "Usuarios a validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Casos?": {
      "main": [
        [
          {
            "node": "Login API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Hay Casos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login API": {
      "main": [
        [
          {
            "node": "Agrupar usuarios a validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Validar DNI RENAPER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar DNI RENAPER": {
      "main": [
        [
          {
            "node": "Respuesta Valida?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Valida?": {
      "main": [
        [
          {
            "node": "Subir Recurso API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error RENAPER (continuar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error RENAPER (continuar)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Recurso API": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesado OK": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuarios a validar": {
      "main": [
        [
          {
            "node": "Hay Casos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar usuarios a validar": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron cada 1 HR": {
      "main": [
        [
          {
            "node": "Obtener Casos de Creditos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Procesado OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88f6ec7d-9900-4a36-b186-4c80d77d3823",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5664ffb61e7249b25908d8d6df83645f6785fb397ba43d39348a86261f503d0"
  },
  "id": "87Fs9KTjY84Bw7BE",
  "tags": []
}